{% extends 'base.html' %}
{% block title %}Password Change{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h1>Password Change (registration)</h1>
        <form method="post">{% csrf_token %}
        <table class="table">
            {{ form }}
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Ok">
                </td>
            </tr>
        </table>
        </form>
    </div>
</div>
{% endblock %}