<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body style="padding-top: 4.5rem">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">DjangoBrief</a>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Forms</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="{% url 'forms:usualforms' %}">Usual Forms</a>
                        <a class="dropdown-item" href="{% url 'forms:modelforms' %}">Model Forms</a>
                        <a class="dropdown-item" href="{% url 'forms:customforms' %}">Custom Forms & Fields</a>
                        <a class="dropdown-item" href="{% url 'forms:setforms' %}">Form Sets</a>
                        <a class="dropdown-item" href="{% url 'forms:setmodelforms' %}">Model Form Sets</a>
                        <a class="dropdown-item" href="{% url 'forms:inlineformset' %}">Inline Form Sets</a>
                        <a class="dropdown-item" href="{% url 'forms:uploadfiles' %}">Upload Files</a>
                        <a class="dropdown-item" href="{% url 'forms:uploadfilesmodel' %}">Upload Files Model</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'request:index' %}">HttpRequest</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'models:index' %}">Models</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'template:index' %}">Templates</a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Views</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="{% url 'views:templateresponse' %}">TemplateResponse</a>
                        <a class="dropdown-item" href="{% url 'views:classview' %}">View</a>
                        <a class="dropdown-item" href="{% url 'views:classtemplateview' %}">TemplateView</a>
                        <a class="dropdown-item" href="{% url 'views:classredirectview' %}">RedirectView</a>
                        <a class="dropdown-item" href="{% url 'views:classdetailview' %}">DetailView</a>
                        <a class="dropdown-item" href="{% url 'views:classlistview' %}">ListView</a>
                        <a class="dropdown-item" href="{% url 'views:classformview' %}">FormView</a>
                        <a class="dropdown-item" href="{% url 'views:classcreateview' %}">CreateView</a>
                        <a class="dropdown-item" href="{% url 'views:classupdateview' %}">UpdateView</a>
                        <a class="dropdown-item" href="{% url 'views:classdeleteview' %}">DeleteView</a>
                    </div>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">MyAuth</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="{% url 'myauth:user_actions' %}">User Actions</a>
                        <a class="dropdown-item" href="{% url 'myauth:user_authenticate' %}">User Authenticate</a>
                        <a class="dropdown-item" href="{% url 'myauth:user_registration' %}">User Registration</a>
                        <a class="dropdown-item" href="{% url 'myauth:user_registration2' %}">User Registration2</a>
                        <hr>
                        <a class="dropdown-item" href="{% url 'myauth:simple_authenticate' %}">Simple Authenticate</a>
                        <a class="dropdown-item" href="{% url 'myauth:decorator_authenticate' %}">Decorator Authenticate</a>
                        <a class="dropdown-item" href="{% url 'myauth:mixin_authenticate' %}">Mixin Authenticate</a>
                        <hr>
                        <a class="dropdown-item" href="{% url 'myauth:loginview' %}">LoginView</a>
                        <hr>
                        <a class="dropdown-item" href="{% url 'myauth:login' %}">login</a>
                        <a class="dropdown-item" href="{% url 'myauth:logout' %}">logout</a>
                        <a class="dropdown-item" href="{% url 'myauth:password_change' %}">password_change</a>
                        <a class="dropdown-item" href="{% url 'myauth:password_change_done' %}">password_change_done</a>
                        <a class="dropdown-item" href="{% url 'myauth:password_reset' %}">password_reset</a>
                        <a class="dropdown-item" href="{% url 'myauth:password_reset_done' %}">password_reset_done</a>
                    </div>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Some Tools</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="{% url 'tools:messages_view' %}">Flash message</a>
                        <a class="dropdown-item" href="{% url 'tools:xml_serialize_view' %}">XML-serialize</a>
                        <a class="dropdown-item" href="{% url 'tools:json_serialize_view' %}">JSON-serialize</a>
                        <a class="dropdown-item" href="{% url 'tools:serialize_deserialize_view' %}">
                            Serialize -> Deserialize
                        </a>
                        <a class="dropdown-item" href="{% url 'tools:sessions_view' %}">Sessions</a>
                        <a class="dropdown-item" href="{% url 'django.contrib.sitemaps.views.index' %}">Sitemap</a>
                        <a class="dropdown-item" href="{% url 'tools:static_view' %}">Static Files</a>
                        <a class="dropdown-item" href="{% url 'tools:validators_view' %}">Validators</a>
                        <a class="dropdown-item" href="{% url 'tools:contenttypes_view' %}">ContentTypes</a>
                        <hr>
                        {% load flatpages %}
                        {% get_flatpages as flatpages %}
                        {% for page in flatpages %}
                        <a class="dropdown-item" href="{{ page.url }}">{{ page.title }}</a>
                        {% endfor %}
                        <hr>
                        <a class="dropdown-item" href="/remote_url_for_redirect/">/remote_url_for_redirect/ (in BD)</a>
                        <a class="dropdown-item" href="{% url 'tools:signals_view' %}">Signals</a>
                    </div>
                </li>

            </ul>
        </div>
    </nav>

    <div role="main" class="container clearfix">{% block content %}{% endblock %}</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>