{% extends 'base.html' %}

{% block title %}HttpRequest{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h1>HttpRequest</h1>
            <table class="table table-hover">
                {% for item in data %}
                <tr>
                    <td>{{ item }}</td>
                    <td>{{ item.type }}</td>
                    <td>{{ item.value }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}