{% extends 'base.html' %}
{% block title %}Class-Based View{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h1>Class-Based View</h1>
            <p>{{ newdata }}</p>
            <form action="{% url 'views:classview' %}" method="post">
                {% csrf_token %}
            <table class="table">
                {{ data }}
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="ok">
                    </td>
                </tr>
            </table>
            </form>

        </div>
    </div>
{% endblock %}